<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--Css y esas mierdas-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.structure.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/jquery-ui.theme.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('styles/appRuta.css') }}" />

    <link rel="stylesheet" href="{{ asset('css/richtext.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/image-uploader.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <!--Js y esas mierdas-->
    <script src="{{ asset('js/jquery-3.7.1.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/jquery.richtext.min.js') }}"></script>
    <script src="{{ asset('js/pagina.js') }}"></script>
    <script src="{{ asset('js/image-uploader.js') }}"></script>
    <script src="https://kit.fontawesome.com/91464fdedc.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>

<body>
    <div id="crearRuta">
        <h1>Crear Ruta</h1>
        <form method="post" id="formulario">
            <ul>
                <li><a href="#tabs-1">Informacion</a></li>
                <li><a href="#tabs-2">Vistas</a></li>
                <li><a href="#tabs-3">Programacion</a></li>
            </ul>

            <div id="tabs-1">
                <label for="nombre">Nombre</label>
                <input id="nombre" name="nombre" type="text"><br>
                <label for="descripcion">Descripcion</label>
                <textarea id="descripcion" name="descripcion" rows="100" cols="100"></textarea>


                <label for="x">X Lugar de Inicio</label>
                <input id="x" name="x" type="text"><br>
                <label for="y">Y Lugar de Inicio</label>
                <input id="y" name="y" type="text">

                <input id="mapaBoton" name="mapaBoton" type="button" value="Mapa"><br>
                <div id="map"></div>

                <label for="Foto">Foto</label>

                <form action="url" enctype="multipart/form-data" id="Foto">

                    <div class="input-images"></div>

                </form>
                <label for="fechaInicio">Fecha inicio</label>

                <input type="text" class="datepicker" id="fechaInicio"><br>
                <label for="fechaFin">Fecha fin</label>
                <input type="text" class="datepicker" id="fechaFin"><br>

                <label for="spinner">Numero de asistentes máximos</label>
                <input id="spinner" name="spinner">
            </div>

            <div id="tabs-2">
                <div id="filtro">
                    <label for="filtroLoc">Localidad</label>
                    <select name="filtroLoc" id="filtroLoc">
                        {% for localidad in localidades %}
                            <option value={{localidad.nombre}}>{{localidad.nombre}}</option>
                        {% endfor %}

                    </select>
                </div>

                <div>
                <h1>Lugares Dispobibles</h1>
                    <ul id="visitasDisponibles">
                    {% for visita in visitas %}
                        <li id="{{visita.id}}" class="tarjeta" style="border: 1px solid green;">
                        <img src="{{ asset('fotos_visita/' ~ visita.foto) }}" width="80px" height="80px" alt="Castillo">
                            <h2>{{visita.nombre}}</h2>
                        </li>
                    {% endfor %}
                        <li class="tarjeta" style="border: 1px solid green;"></li>

                    </ul>
                </div>
                <div>
                    <h1>Lugares Asignados</h1>
                    <ul id="visitasRuta">
                        <li class="tarjeta" style="border: 1px solid green;"></li>

                    </ul>
                </div>

            </div>
            <div id="tabs-3">
                <div>
                    <label for="fechaInicioPr">Fecha inicio</label>

                    <input type="text" class="datepicker" id="fechaInicioPr"><br>
                    <label for="fechaFinPr">Fecha fin</label>
                    <input type="text" class="datepicker" id="fechaFinPr"><br>
                </div>

                <div id="diasSemana">
                    <input type="checkbox" id="lunes" name="dia" value="L">
                    <label for="lunes">Lunes</label>
                    <input type="checkbox" id="martes" name="dia" value="M">
                    <label for="martes">Martes</label>
                    <input type="checkbox" id="miercoles" name="dia" value="X">
                    <label for="miercoles">Miércoles</label>
                    <input type="checkbox" id="jueves" name="dia" value="J">
                    <label for="jueves">Jueves</label>
                    <input type="checkbox" id="viernes" name="dia" value="V">
                    <label for="viernes">Viernes</label>
                    <input type="checkbox" id="sabado" name="dia" value="S">
                    <label for="sabado">Sábado</label>
                    <input type="checkbox" id="domingo" name="dia" value="D">
                    <label for="domingo">Domingo</label>
                </div>

                <div id="formulario">
                    <label for="hora">Hora:</label>
                    <input type="time" id="hora" name="hora">
                    <label for="personas">Guia</label>

                    <select id="personas" name="personas">
                        <option value="MAnolos">MAnolos</option>
                        <option value="Diego">Diego</option>
                        <option value="TuPae">TuPae</option>
                    </select>
                </div>
                <button id="botonAñadir">Añadir</button>

                <div id="tabla">
                    <table id="horarios">
                        <thead>
                            <tr>
                                <th>Rango de Fecha</th>
                                <th>Días</th>
                                <th>Hora</th>
                                <th>Persona</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

            </div>

        </form>
    </div>

</body>


</html>
