{% extends 'base.html.twig' %}

{% block title %}
    Tours Diego
{% endblock %}

{% block importmap %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ asset('js/jquery-3.7.1.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/landin.js') }}"></script>

    <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}" />
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/app.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#!">Tours Diego</a>
            <img src="{{ asset('images/logo.png') }}" alt="Tours Diego Logo" style="max-width: 60px; height: auto;" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a></li>
                    {% if app.user %}
                        {% for rol in app.user.roles %}
                            {% if rol != "ROLE_ADMIN" %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Mis Tours</a></li>
                            {% endif %}
                            {% if rol=="ROLE_ADMIN" %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Administración</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Calendario</a></li>
                            {% endif %}
                            {% if rol=="ROLE_GUIDE" %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Calendario Tours</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('action-logout') }}">Cerrar Sesión</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Iniciar Sesión</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Registro</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <body>
        <section>

            <div class="carousel-caption d-none d-md-block" id="fotos">
                <div class="shadow mb-5 bg-white rounded  p-4" id="titulo">
                    <span class="spanmain">Los mejores tours que vas a encontrar</span>
                    <p class="subtitulo">¡Viaja con nosotros!</p>
                    <div id="wrapper-buscador" class="p-3 bg-white rounded text-center p-4 d-inline-block bg-transparent flex-column align-items-start">
                        <input type="hidden" name="q" value="" id="consulta">
                        <div id="dividirBusca">
                            <div class="ui-widget" id="barraBusqueda">
                                <select id="combobox">
                                    <option value="">Eliga una localidad...</option>
                                    {% for localidad in localidades %}
                                        <option value="{{ localidad.id }}">{{ localidad.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <input type="button" id="buscarCiudad" value="Buscar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Carrusel de imágenes -->
            <div  id="carrusel">
                <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    </div>
                    <div class="carousel-inner carrusel">
                        <div class="carousel-item active">
                            <img src="{{ asset('fotos_carrusel/madrid.jpg') }}" class="d-block w-100 imagenesHome" alt="madrid">
                            <div class="carousel-caption d-none d-md-block bg-white subtituloCarrusel rounded">
                                <h5 style="font-size: 1.5rem;">Madrid</h5>
                                <p style="font-size: 1rem;">Capital de España.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('fotos_carrusel/ronda.jpg') }}" class="d-block w-100 imagenesHome" alt="ronda">
                            <div class="carousel-caption d-none d-md-block bg-white subtituloCarrusel rounded">
                                <h5 style="font-size: 1.5rem;">Ronda</h5>
                                <p style="font-size: 1rem;">Sierra de Málaga.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('fotos_carrusel/alambra.jpg') }}" class="d-block w-100 imagenesHome" alt="granada">
                            <div class="carousel-caption d-none d-md-block bg-white subtituloCarrusel rounded">
                                <h5 style="font-size: 1.5rem;">Granada</h5>
                                <p style="font-size: 1rem;">Alhambra de Granada.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('fotos_carrusel/valencia.jpg') }}" class="d-block w-100 imagenesHome" alt="valencia">
                            <div class="carousel-caption d-none d-md-block bg-white subtituloCarrusel rounded">
                                <h5 style="font-size: 1.5rem;">Valencia</h5>
                                <p style="font-size: 1rem;">Ciudad de las Artes y de las Ciencias.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ asset('fotos_carrusel/villar.jpg') }}" class="d-block w-100 imagenesHome" alt="villar">
                            <div class="carousel-caption d-none d-md-block bg-white subtituloCarrusel rounded">
                                <h5 style="font-size: 1.5rem;">Villardompardo</h5>
                                <p style="font-size: 1rem;">El mejor pueblo.</p>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>
        </section>

        <section id="segundoSection">
        <div id="titulo2">
            <h1 class="nombresLoc">RESERVA TU PLAZA ONLINE HOY</h1>
        </div>
            <div id="ciudades">
                {% for localidad in localidades %}
                    <a href="/rutas_por_localidad/{{ localidad.nombre }}" class="aFotos">
                        <div id="id{{localidad.nombre}}" class="fotosPagina" style="background-image: url('/fotos_landin/{{ localidad.nombre }}.jpg');">
                            <h1 class="nombresLoc">{{localidad.nombre}}</h1>
                        </div>
                    </a>
                </a>
                {% endfor %}
            </div>
        </section>
    <footer class="footer-block" id="footer">
        <div class="container">
            <h2 class="footer-title" id="h2Footer">Tours Diego</h2>
            <ul class="footer-list" id="ulFooter">
                <li class="footer-list__li">Ⓒ Copyright 2024</li>
                <li class="footer-list__li">Politica de provacidad</li>
                <li class="footer-list__li">Contacto</li>
            </ul>
        </div>
    </footer>
    </body>
    

{% endblock %}
