{% block importmap %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ asset('js/jquery-3.7.1.js') }}"></script>
    <script src="{{ asset('js/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/landin.js') }}"></script>
    <script src="{{ asset('js/registrarreserva.js') }}"></script>

    <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.png') }}" />
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    <link href="{{ asset('styles/app.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/jquery-ui.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#!">Diego Tours</a>
            <img src="{{ asset('images/logo.png') }}" alt="Diego Tours Logo" style="max-width: 60px; height: auto;" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a></li>
                    {% if app.user %}
                        {% for rol in app.user.roles %}
                            {% if rol == "ROLE_USER" %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('tours_user', {'idUser': app.user.id}) }}">Mis Tours</a></li>
                            {% endif %}
                            {% if rol=="ROLE_ADMIN" %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Administraci贸n</a></li>
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Calendario</a></li>
                            {% endif %}
                            {% if rol=="ROLE_GUIA" %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('guia_ruta', {'idGuia': app.user.id}) }}">Tours asignados</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('action-logout') }}">Cerrar Sesi贸n</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Iniciar Sesi贸n</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Registro</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <h1 class="mb-4" style="margin-top: 80px;">Ruta: {{ tour.codRuta.nombre }}, ID del tour: {{ tour.id }}</h1>
        <input type="hidden" id="idTour" value="{{ tour.id }}">
        <form>
            <div id="reservas">
                {% for reserva in reservas %}
                    <div class="reserva-container border p-3 mb-3">
                        <h2>{{ reserva.codUser.nombre }}</h2>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Gente Reservada</span>
                            <input type="number" class="form-control" value="{{ reserva.genteReservada }}" disabled>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Gente Asistente</span>
                            <input type="number" class="form-control genteAsistente" data-reserva-id="{{ reserva.id }}" value="0" max="{{ reserva.genteReservada }}" min="0">
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="mb-3">
                <label for="imagenRuta" class="form-label">Imagen de la Ruta</label>
                <input type="file" class="form-control" id="imagenRuta">
            </div>
            <div class="mb-3">
                <label for="observaciones" class="form-label">Observaciones</label>
                <textarea class="form-control" id="observaciones" rows="4"></textarea>
            </div>
            <div class="mb-3">
                <label for="recaudacion" class="form-label">Recaudaci贸n</label>
                <input type="number" class="form-control" id="recaudacion" min="0">
            </div>
            <button type="button" class="btn btn-primary" onclick="guardarAsistentes()">Guardar</button>
        </form>
    </div>
{% endblock %}
