
{% block head %}
<head>
    <title>Login Diego Tours</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    <link rel="icon" href="{{ asset('images/logo.png') }}" type="image/x-icon">

</head>
{% endblock %}

{% block body %}

    <body class="img js-fullheight">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="#!">Diego Tours</a>
            <img src="{{ asset('images/logo.png') }}" alt="Diego Tours Logo" style="max-width: 60px; height: auto;" />
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a></li>
                    {% if app.user %}
                        {% for rol in app.user.roles %}
                            {% if rol=="ROLE_USER" %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Mis Tours</a></li>
                            {% endif %}
                            {% if rol=="ROLE_ADMIN" %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Administración</a></li>
                            {% endif %}
                            {% if rol=="ROLE_GUIDE" %}
                                <li class="nav-item"><a class="nav-link" href="{{ path('admin') }}">Calendario Tours</a></li>
                            {% endif %}
                        {% endfor %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('action-logout') }}">Cerrar Sesión</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">Iniciar Sesión</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">Registro</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
<section class="ftco-section">
{% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="{{ asset('fotos_landin/fotojaen.png') }}"
                alt="formulario de inicio de sesión" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form action="{{ path('app_login') }}" method="post">

                  <div class="d-flex align-items-center mb-3 pb-1">
                        <img src="{{ asset('images/logo.png') }}" alt="Diego Tours Logo" style="max-width: 60px; height: auto; margin-right: 15px;">
                        <span class="h1 fw-bold mb-0">Diego Tours</span>
                    </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inicia sesión en tu cuenta</h5>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example17">Dirección de correo electrónico</label>
                    <input type="email" style="background-color: #cec6d5;" id="form2Example17" name="_username" value="{{ last_username }}" required class="form-control form-control-lg" />
                  </div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example27">Contraseña</label>
                    <input type="password" style="background-color: #cec6d5;" name="_password" id="form2Example27" required class="form-control form-control-lg" />
                  </div>

                  <div class="pt-1 mb-4">
                    <input type="submit" class="btn btn-dark btn-lg btn-block" type="button" value="Iniciar sesión" style="background-color: #008080;"/>
                  </div>

                  <p class="mb-5 pb-lg-2" style="color: #393f81;">¿No tienes una cuenta? <a  href="{{ path('app_register') }}"
                      style="color: #393f81;">Regístrate aquí</a></p>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
{% endblock %}

